.myBtn{
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 29px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
}

.card2-container{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
.card-2{
  position: absolute; 
  transform: translate(50%, 67%);
  height: max-content;
  width: 50vw;
  border: 3px solid;
  z-index: 1000;
  /* position: fixed; */
  inset: 0px;
 
}
.para2{
  height: 25px;
  width: 30vw;
  border: 2px soild black;
  font-weight: bold;
 text-align: center; 
}
.child{
  
  display: flex;
  justify-content: center;
}

.input{
  height: 150px;
  width: 410px;
  border: 3px solid;
  border-radius: 15px;
}
.input::placeholder {
  text-align: left;           
  vertical-align:top;        
  position: absolute;   
  top: 0;                      /* Top alignment */
  left: 0;                     /* Left alignment */
  padding: 5px; 
}

.addtask{
  height: 25px;
  width: 100%;
  background-color: orange;
  text-align: center;
  cursor: pointer;
}

.card{
  height: max-content;
    width: 50vw;
    border: 2px solid black;
  }

  .para{
    height: 20px;
    width: 50vw;
    border: 2px soild black;
    font-weight: bold;
   text-align: center; 
  }
  
  .para1{
    height:40px ;
  }

  .finish{
    font-weight: bold;
   text-align: center; 
    width: 100%;
    height: 30px;
    background-color: orange;
  }

  .closeBtn{
    position: absolute;
    transform: translate(1111px, 132px);
    cursor: pointer;
  }
