.container{
  justify-content: center;
  background-color: rgb(241, 240, 239);
  height: 100vh;
  display: flex;
}

.myBtn{
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 29px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
}
.card{
  height: max-content;
    width: 50vw;
    border: 2px solid black;
    
}

.para{
  height: 20px;
  width: 50vw;
  border: 2px soild black;
  font-weight: bold;
 text-align: center; 
}

.finish{
  font-weight: bold;
 text-align: center; 
  width: 50vw;
  height: 30px;
  background-color: orange;
}

.para1{
  height:40px ;
}

.card-1{
  height: max-content;
  width: 50vw;
  border: 2px solid black;
  appearance: none; 
  -moz-appearance: none;
  padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}